@import '../colors/colors';
@import '../fonts/fonts';


.upcoming-movies-page {
    color: $white;
    font-family: $font_oswald;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .upcoming-mvies-page-heading {
        padding: 0 20px;
        p {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid $white;
        }
    }


    .all-upcoming-movies-container {


        .upcoming-each-movie-page {
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 40px;
            justify-content: space-around;
            margin-top: 30px;

            .upcoming-movies-card {
                display: flex;
                flex-direction: column;
                gap: 5px;
                max-width: 300px;

                .upcoming-movie-card-poster {
                    width: 300px;
                    height: 350px;
                    border-radius: 15px;

                    img {
                        width: 300px;
                        height: 350px;
                        border-radius: 15px;
                        border: 2px solid rgb(231, 79, 79);
                    }
                }

                h6{
                    font-size: 20px;
                    font-weight: 500;
                }

                .upcoming-movie-date-page{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }


}