@import '../colors/colors';
@import '../fonts/fonts';
@import '../media-quaries';


.login-page-section {
    color: $white;
    font-family: $font_oswald;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;

    @include breakpoint1 {
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
        align-items: center;
    }

    @include breakpoint2 {
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
        align-items: center;
    }

    .login-form-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 400px;
        padding: 25px;
        border: 2px solid grey;
        border-radius: 25px;
        transition: 0.2s ease-in;

        h1 {
            font-size: 30px;
            font-weight: 500;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            margin-top: 30px;

            .api_key_field {
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: $white;

                label {
                    font-size: 25px;
                    font-weight: 400;
                }

                input:focus,
                input:active,
                input {
                    background-color: transparent;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid $white;
                    padding: 10px;
                    color: $white;
                }

            }

            .login-btn {
                padding: 10px 45px;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                transition: 0.2s ease-in;
                font-size: 16px;
            }

            .login-btn:hover {
                background-color: red;
                color: $white;
            }
        }

    }

    .login-form-container:hover {
        box-shadow: inset 0px 0px 5px 5px rgb(197, 96, 96);
    }

    .login-instruction-container {
        max-width: 500px;
        padding: 25px;
        border: 2px solid grey;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: 0.2s ease-in;

        h1 {
            border-bottom: 1px solid grey;
            font-size: 25px;
            font-weight: 500;
        }

        h6 {
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
        }

        .detailed-instruction-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h6 {
                color: rgb(207, 126, 126);
                font-size: 18px;
                font-weight: 400;
            }

            .instruction-steps {
                h5 {
                    // color: rgb(175, 83, 83);
                    color: $white;
                    font-weight: 400;
                    font-size: 16px;
                }

                p {
                    color: gray;
                }
            }
        }
    }

    .login-instruction-container:hover {
        box-shadow: inset 0px 0px 5px 5px rgb(197, 96, 96);
    }
}