@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.login-page-section {
  color: white;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
@media screen and (max-width: 600px) {
  .login-page-section {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .login-page-section {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
  }
}
.login-page-section .login-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  padding: 25px;
  border: 2px solid grey;
  border-radius: 25px;
  transition: 0.2s ease-in;
}
.login-page-section .login-form-container h1 {
  font-size: 30px;
  font-weight: 500;
}
.login-page-section .login-form-container h2 {
  font-size: 20px;
  font-weight: 400;
}
.login-page-section .login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
.login-page-section .login-form-container form .api_key_field {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}
.login-page-section .login-form-container form .api_key_field label {
  font-size: 25px;
  font-weight: 400;
}
.login-page-section .login-form-container form .api_key_field input:focus,
.login-page-section .login-form-container form .api_key_field input:active,
.login-page-section .login-form-container form .api_key_field input {
  background-color: transparent;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
}
.login-page-section .login-form-container form .login-btn {
  padding: 10px 45px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: 16px;
}
.login-page-section .login-form-container form .login-btn:hover {
  background-color: red;
  color: white;
}
.login-page-section .login-form-container:hover {
  box-shadow: inset 0px 0px 5px 5px rgb(197, 96, 96);
}
.login-page-section .login-instruction-container {
  max-width: 500px;
  padding: 25px;
  border: 2px solid grey;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.2s ease-in;
}
.login-page-section .login-instruction-container h1 {
  border-bottom: 1px solid grey;
  font-size: 25px;
  font-weight: 500;
}
.login-page-section .login-instruction-container h6 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.login-page-section .login-instruction-container .detailed-instruction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-page-section .login-instruction-container .detailed-instruction-container h6 {
  color: rgb(207, 126, 126);
  font-size: 18px;
  font-weight: 400;
}
.login-page-section .login-instruction-container .detailed-instruction-container .instruction-steps h5 {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.login-page-section .login-instruction-container .detailed-instruction-container .instruction-steps p {
  color: gray;
}
.login-page-section .login-instruction-container:hover {
  box-shadow: inset 0px 0px 5px 5px rgb(197, 96, 96);
}/*# sourceMappingURL=login-page.css.map */