@import './media-quaries';
@import './colors/colors';
@import './fonts/fonts';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    
    @include breakpoint1 {
        margin: 0 20px;
    }
    
    @include breakpoint2 {
        margin: 0 40px;
    }

    @include mobile_s {
        margin: 0 15px;
    }

    @include mobile_m_l {
        margin: 0 20px;
    }

    @include tablet_s {
        margin: 0 25px;
    }

    @include tablet_l {
        margin: 0 30px;
    }

    @include laptop_m {
        margin: 0 35px;
    }

    @include laptop_l {
        margin: 0 40px;
    }
}