@import '../media-quaries';
@import '../colors/colors';
@import '../fonts/fonts';

.movie-cast-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    font-family: $font_oswald;

    .movie-credits-heading {

        h5 {
            font-size: 25px;
            font-weight: 500;
            border-bottom: 1px solid grey;
        }
    }

    .cast-card {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-items: center;

        .cast-profile-photo {
            border-radius: 50%;
            overflow: hidden;
            height: 130px;
            width: 130px;

            img {
                border-radius: 50%;
                overflow: hidden;
                height: 130px;
                width: 130px;
                object-fit: cover;
                object-position: center;
            }
        }

        h6 {
            text-align: center;
            font-size: 14px;
            font-weight: 500;

        }

        p {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            color: grey;
        }
    }
}