@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.nav-bar {
  width: 100%;
  border-radius: 25px;
  margin: 15px auto 10px auto !important;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Oswald", sans-serif;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    width: auto;
    margin: 10px 10px 5px 10px !important;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar {
    width: auto;
    margin: 10px 10px 5px 10px !important;
    padding: 10px 15px;
  }
}
.nav-bar .nav-bar-tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container {
    gap: 10px;
    width: 75%;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container {
    gap: 10px;
    width: 75%;
  }
}
.nav-bar .nav-bar-tab-container .nav-logo-container {
  text-decoration: none;
}
.nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo {
    height: 30px;
    width: 30px;
    gap: 5px;
    width: auto;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo {
    height: 45px;
    width: 45px;
    gap: 5px;
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo {
    gap: 5px;
  }
}
.nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo img {
  height: 55px;
  width: 55px;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo img {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo img {
    height: 45px;
    width: 45px;
  }
}
.nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo p {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo p {
    font-size: 11px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container .nav-logo-container .nav-logo p {
    font-size: 20px;
  }
}
.nav-bar .nav-bar-tab-container .movie-dropdown-menu {
  position: absolute;
  top: 30px;
  left: -4px;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 15px;
  width: 120px;
  background-color: black;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .movie-dropdown-menu {
    width: 65px;
    top: 18px;
    left: -12px;
  }
}
.nav-bar .nav-bar-tab-container .movie-dropdown-menu .movie-dropdown-menu-list-wrapper {
  list-style: none;
  text-decoration: none;
}
.nav-bar .nav-bar-tab-container .movie-dropdown-menu .movie-dropdown-menu-list-wrapper li {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  transition: 0.5s ease-in;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .movie-dropdown-menu .movie-dropdown-menu-list-wrapper li {
    font-size: 10px;
  }
}
.nav-bar .nav-bar-tab-container .movie-dropdown-menu .movie-dropdown-menu-list-wrapper li:hover {
  border-bottom: 1px solid white;
}
.nav-bar .nav-bar-tab-container .tv-dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 15px;
  width: 120px;
  background-color: black;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .tv-dropdown-menu {
    width: 65px;
    top: 18px;
  }
}
.nav-bar .nav-bar-tab-container .tv-dropdown-menu .tv-dropdown-menu-list-wrapper {
  list-style: none;
  text-decoration: none;
}
.nav-bar .nav-bar-tab-container .tv-dropdown-menu .tv-dropdown-menu-list-wrapper li {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  transition: 0.5s ease-in;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .tv-dropdown-menu .tv-dropdown-menu-list-wrapper li {
    font-size: 10px;
  }
}
.nav-bar .nav-bar-tab-container .tv-dropdown-menu .tv-dropdown-menu-list-wrapper li:hover {
  border-bottom: 1px solid white;
}
.nav-bar .nav-bar-tab-container .rotate-arrow {
  transform: rotate(180deg);
}
.nav-bar .nav-bar-tab-container .movies-tab-container {
  position: relative;
  cursor: pointer;
}
.nav-bar .nav-bar-tab-container .movies-tab-container h6 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .movies-tab-container h6 {
    gap: 2px;
    font-size: 11px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container .movies-tab-container h6 {
    gap: 2px;
    font-size: 20px;
  }
}
.nav-bar .nav-bar-tab-container .movies-tab-container h6 span {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .movies-tab-container h6 span {
    height: 10px;
    width: 16px;
  }
}
.nav-bar .nav-bar-tab-container .movies-tab-container h6 span .arrow-down {
  transition: 0.2s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .movies-tab-container h6 span .arrow-down {
    font-size: 10px;
  }
}
.nav-bar .nav-bar-tab-container .tv-shows-container {
  position: relative;
  cursor: pointer;
}
.nav-bar .nav-bar-tab-container .tv-shows-container h6 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .tv-shows-container h6 {
    font-size: 11px;
    gap: 2px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-tab-container .tv-shows-container h6 {
    gap: 2px;
    font-size: 20px;
  }
}
.nav-bar .nav-bar-tab-container .tv-shows-container h6 span {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .tv-shows-container h6 span {
    height: 10px;
    width: 16px;
  }
}
.nav-bar .nav-bar-tab-container .tv-shows-container h6 span .arrow-down {
  transition: 0.2s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-tab-container .tv-shows-container h6 span .arrow-down {
    font-size: 10px;
  }
}
.nav-bar .nav-bar-functionality-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-functionality-container {
    gap: 10px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .nav-bar .nav-bar-functionality-container {
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-functionality-container .add-to-fav .heart-icon {
    height: 20px;
  }
}
.nav-bar .nav-bar-functionality-container .user-profile .user_image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .nav-bar .nav-bar-functionality-container .user-profile .user_image {
    height: 25px;
    width: 25px;
  }
}/*# sourceMappingURL=navbar.css.map */