@import '../fonts/fonts';
@import '../colors/colors';
@import '../media-quaries';


.nav-bar {
    width: 100%;
    border-radius: 25px;
    margin: 15px auto 10px auto !important;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-family: $font_oswald;
    // background-color: bisque;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 9999;

    @include breakpoint1 {
        width: auto;
        margin: 10px 10px 5px 10px !important;
        padding: 5px 10px;
    }

    @include breakpoint2 {
        width: auto;
        margin: 10px 10px 5px 10px !important;
        padding: 10px 15px;
    }

    .nav-bar-tab-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        @include breakpoint1 {
            gap: 10px;
            width: 75%;
        }

        @include breakpoint2 {
            gap: 10px;
            width: 75%;
        }

        .nav-logo-container {
            text-decoration: none;

            .nav-logo {
                height: 55px;
                width: 55px;
                display: flex;
                align-items: center;
                width: fit-content;
                gap: 10px;

                @include breakpoint1 {
                    height: 30px;
                    width: 30px;
                    gap: 5px;
                    width: auto;
                }

                @include breakpoint2 {
                    height: 45px;
                    width: 45px;
                    gap: 5px;
                    width: auto;
                }

                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;

                @include breakpoint1 {
                    gap: 5px;
                }

                img {
                    height: 55px;
                    width: 55px;

                    @include breakpoint1 {
                        height: 30px;
                        width: 30px;
                    }

                    @include breakpoint2 {
                        height: 45px;
                        width: 45px;
                    }
                }

                p {
                    color: $white;
                    font-family: $font_oswald;
                    font-size: 30px;

                    @include breakpoint1 {
                        font-size: 11px;
                    }

                    @include breakpoint2 {
                        font-size: 20px;
                    }
                }
            }


        }

        .movie-dropdown-menu {
            position: absolute;
            top: 30px;
            left: -4px;
            border: 1px solid grey;
            padding: 5px 10px;
            border-radius: 15px;
            width: 120px;
            // background: rgba(0, 0, 0, 0.8);
            // backdrop-filter: saturate(180%) blur(10px);
            background-color: black;
            @include breakpoint1 {
                width: 65px;
                top: 18px;
                left: -12px;
            }



            .movie-dropdown-menu-list-wrapper {
                list-style: none;
                text-decoration: none;

                li {
                    text-decoration: none;
                    color: $white;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 5px;
                    transition: 0.5s ease-in;

                    @include breakpoint1 {
                        font-size: 10px;
                    }
        
                }

                li:hover {
                    border-bottom: 1px solid white;
                }
            }
        }

        .tv-dropdown-menu {
            position: absolute;
            top: 30px;
            left: 0;
            border: 1px solid grey;
            padding: 5px 10px;
            border-radius: 15px;
            width: 120px;
            // background: rgba(0, 0, 0, 0.8);
            // backdrop-filter: saturate(180%) blur(10px);
            background-color: black;
            @include breakpoint1 {
                width: 65px;
                top: 18px;
            }


            .tv-dropdown-menu-list-wrapper {
                list-style: none;
                text-decoration: none;

                li {
                    text-decoration: none;
                    color: $white;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 5px;
                    transition: 0.5s ease-in;
                    @include breakpoint1 {
                        font-size: 10px;
                    }
                }

                li:hover {
                    border-bottom: 1px solid white;
                }
            }
        }

        .rotate-arrow {
            transform: rotate(180deg);
        }

        .movies-tab-container {
            position: relative;
            cursor: pointer;

            h6 {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 20px;
                font-weight: 500;

                @include breakpoint1 {
                    gap: 2px;
                    font-size: 11px;
                }

                @include breakpoint2 {
                    gap: 2px;
                    font-size: 20px;
                }

                span {
                    display: flex;
                    align-items: center;

                    @include breakpoint1 {
                        height: 10px;
                        width: 16px;
                    }

                    .arrow-down {
                        transition: 0.2s ease-in;
                        cursor: pointer;

                        @include breakpoint1 {
                            font-size: 10px;
                        }
                    }


                }
            }
        }

        .tv-shows-container {
            position: relative;
            cursor: pointer;

            h6 {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 20px;
                font-weight: 500;

                @include breakpoint1 {
                    font-size: 11px;
                    gap: 2px;
                }

                @include breakpoint2 {
                    gap: 2px;
                    font-size: 20px;
                }

                span {
                    display: flex;
                    align-items: center;

                    @include breakpoint1 {
                        height: 10px;
                        width: 16px;
                    }

                    .arrow-down {
                        transition: 0.2s ease-in;
                        cursor: pointer;

                        @include breakpoint1 {
                            font-size: 10px;
                        }
                    }
                }
            }
        }


    }

    .nav-bar-functionality-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include breakpoint1 {
            gap: 10px;
        }

        @include breakpoint2 {
            gap: 20px;
        }

        .add-to-fav {
            .heart-icon {
                @include breakpoint1 {
                    height: 20px;
                }
            }
        }

        .user-profile {

            .user_image {
                height: 45px;
                width: 45px;
                border-radius: 50%;

                @include breakpoint1 {
                    height: 25px;
                    width: 25px;
                }
            }
        }

    }
}