@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.profile-section-container .profile-card {
  position: absolute;
  top: 20%;
  left: 40%;
  border: 2px solid grey;
  padding: 40px 100px 100px 100px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "Oswald", sans-serif;
}
@media screen and (max-width: 600px) {
  .profile-section-container .profile-card {
    position: static;
    padding: 20px 25px 25px 25px;
    margin-top: 100px;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .profile-section-container .profile-card {
    position: static;
    padding: 20px 25px 25px 25px;
    margin-top: 100px;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
}
@media screen and (max-width: 1100px) and (min-width: 921px) {
  .profile-section-container .profile-card {
    position: static;
    padding: 20px 25px 25px 25px;
    margin-top: 100px;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
}
@media screen and (max-width: 1239px) and (min-width: 1101px) {
  .profile-section-container .profile-card {
    position: static;
    padding: 20px 25px 25px 25px;
    margin-top: 100px;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
}
.profile-section-container .profile-card .profile-avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 600px) {
  .profile-section-container .profile-card .profile-avatar {
    max-width: 150px;
    max-height: 150px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .profile-section-container .profile-card .profile-avatar {
    max-width: 150px;
    max-height: 150px;
  }
}
.profile-section-container .profile-card .profile-avatar img {
  height: 250px;
  width: 250px;
}
@media screen and (max-width: 600px) {
  .profile-section-container .profile-card .profile-avatar img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media screen and (max-width: 920px) and (min-width: 601px) {
  .profile-section-container .profile-card .profile-avatar img {
    max-width: 150px;
    max-height: 150px;
  }
}
.profile-section-container .profile-card h6 {
  text-align: left;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}
.profile-section-container .profile-card h6 span {
  font-weight: 400;
  color: darkgrey;
}
.profile-section-container .profile-card .log-out-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 25px;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.profile-section-container .profile-card .log-out-btn:hover {
  color: black;
  background-color: red;
  border: 1px solid black;
}/*# sourceMappingURL=profile-page.css.map */