@import '../media-quaries';
@import '../colors/colors';
@import '../fonts/fonts';


.review-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    font-family: $font_oswald;
    color: $white;

    .review-section-heading {
        h5 {
            font-size: 25px;
            border-bottom: 1px solid grey;
            font-weight: 500;
        }
    }

    .reviews-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .review-card {
            padding: 15px;
            backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .review-card-heading{
                display: flex;
                align-items: center;
                gap: 25px;

                img{
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                .reviewer-details{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h6{
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            .review-card-content{
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;

                .read-more-less--more, .read-more-less--less{
                    color: rgb(131, 183, 201);
                    margin-left: 7px;
                }
            }
        }
    }
}